doctype html
html
	head
		title {{title}} / Slash
		meta(charset="utf8")
		link(rel="stylesheet" href="assets/css/importer.css")
		link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
	body
		.main-wrapper
			.title-bar.sub-wrapper
				.search.left
					input#docset(type="text" v-model="docset")
					input#search(type="text" placeholder="Search" autofocus v-model="keyword")
				.nav.right
					.button-group.left
						.forward.button.left(v-class="disabled: !buttons.backward"
						v-on="click: webNav(-1)")
							i.fa.fa-angle-left
						.back.button.right(v-class="disabled: !buttons.forward"
						v-on="click: webNav(1)")
							i.fa.fa-angle-right
					#doc-title.title {{title}}
					.button-group.right
						.bookmark.button.right(
							v-class="disabled: !buttons.bookmark"
							tabindex=1)
							i.fa.fa-bookmark
							.bookmarks(v-component="bookmark" v-repeat="bookmarks")
						.bars.button.left(
							v-class="disabled: !buttons.options"
							tabindex=2)
							i.fa.fa-bars
							ul.menu.popup.dropdown
								li.buttons
									.button(v-on="click: openInBrowser")
										i.fa.fa-globe
									.button(v-on="click: refreshBrowser")
										i.fa.fa-refresh
								li.separate
								li(v-on="click: openConfigWindow") Settings ...
								li(v-on="click: showDocsetStat") Show Docsets ...
								li(v-on="click: webContentSrc = 'http://github.com/oott123/slash'") About ...
			.body.sub-wrapper
				.index.left
					ul#doc-list
						li(v-on="click: loadWeb" v-repeat="result: results"
							v-style="background-image: getBg(result.docset.name)")
							| {{result.name}}
				.content.right
					webview#web-content(
						v-attr="src: webContentSrc"
						v-on="did-stop-loading: updateTitle, console-message: message")
			.cover.config.hidden(v-class="hidden: !isConfigShow")
				iframe#config(src="{{configUrl}}" frameborder="0")
		script#bookmark-template(type="text/x-template")
			.title
				.text.menu-item(v-on="click: toggle") {{title}}
				.ctrl.menu-item.add(v-on="click: add")
					i.fa.fa-plus
				.ctrl.menu-item.remove(v-on="click: remove" v-if="!isTop")
					i.fa.fa-times
				.ctrl.menu-item.edit(v-on="click: edit" v-if="!isTop")
					i.fa.fa-pencil
			form(v-if="status.isEditing")
				.label
					span Title
					input(v-model="title")
				.label(v-if="!isFolder")
					span Url
					input(v-model="url")
			ul.submenu(v-if="isTop || (isFolder && status.isOpen)")
				li(v-repeat="subItems" v-component="bookmark")
		script(src="assets/js/common.js")
		script(src="assets/js/search.js")
