doctype html
html
	head
		title {{title}} / Slash
		meta(charset="utf8")
		link(rel="stylesheet" href="assets/css/importer.css")
		link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
	body
		.main-wrapper
			.title-bar.sub-wrapper
				.search.left
					input#docset(type="text" v-model="docset")
					input#search(type="text" placeholder="Search" autofocus v-model="keyword")
				.nav.right
					.button-group.left
						.forward.button.left(v-class="disabled: !buttons.backward"
						v-on="click: webNav(-1)")
							i.fa.fa-angle-left
						.back.button.right(v-class="disabled: !buttons.forward"
						v-on="click: webNav(1)")
							i.fa.fa-angle-right
					#doc-title.title {{title}}
					.button-group.right
						.bookmark.button.right(v-class="disabled: !buttons.bookmark")
							i.fa.fa-bookmark
						.bars.button.left(
							v-class="disabled: !buttons.options"
							tabindex=1)
							i.fa.fa-bars
							ul.menu.popup.dropdown
								li.buttons
									.button(v-on="click: openInBrowser")
										i.fa.fa-globe
									.button(v-on="click: refreshBrowser")
										i.fa.fa-refresh
								li.separate
								li(v-on="click: openConfigWindow") Settings ...
								li(v-on="click: showDocsetStat") Show Docsets ...
								li(v-on="click: webContentSrc = 'http://github.com/oott123/slash'") About ...
			.body.sub-wrapper
				.index.left
					ul#doc-list
						li(v-on="click: loadWeb" v-repeat="result: results"
							v-style="background-image: getBg(result.docset.name)")
							| {{result.name}}
				.content.right
					webview#web-content(
						v-attr="src: webContentSrc"
						v-on="did-stop-loading: updateTitle, console-message: message")
			.cover.config.hidden(v-class="hidden: !isConfigShow")
				iframe#config(src="config.html" frameborder="0")
		script(src="assets/js/common.js")
		script(src="assets/js/search.js")